@font-face {
    font-family: "Playfair Display";
    src: url("./asset/font/playfair_display/static/PlayfairDisplay-Regular.ttf") format("tff");
    src: url('/asset/font/playfair_display/static/PlayfairDisplay-Black.ttf') format("tff");
    src: url('/asset/font/playfair_display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format("tff");
    src: url('/asset/font/playfair_display/static/PlayfairDisplay-Bold.ttf') format("tff");
    src: url('/asset/font/playfair_display/static/PlayfairDisplay-ExtraBold.ttf') format("tff");
    src: url('/asset/font/playfair_display/static/PlayfairDisplay-ExtraBoldItalic.ttf') format("tff");
    src: url('/asset/font/playfair_display/static/PlayfairDisplay-Medium.ttf') format("tff");
    src: url('/asset/font/playfair_display/static/PlayfairDisplay-SemiBold.ttf') format("tff");
    src: url('/asset/font/playfair_display/static/PlayfairDisplay-BoldItalic.ttf') format("tff");
    src: url('/asset/font/playfair_display/static/PlayfairDisplay-Italic.ttf') format("tff");   
}

/* All selector */

* {
    margin: 0;
    padding: 0;
}

/* body */

body {
    background: #CDCDCD;
    height: 100%;
}


/* text-property */

.title-page {
    color: #00BFB2;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
}

/* font-size */

.text-48 {
    font-size: 4vw;
}

.text-36 {
    font-size: 2vw;
}

/* font */

.playfair {
    font-family: 'Playfair Display', serif;
}

/* slider */


#slider {
    background: #00BFB2;
    position: sticky;
    width: 100%;
    z-index: 999;
    top: 0;
}

/* Burger-menu */

.navbar-toggler:focus {
    background-color: white;

}

/* form-search-nav-bar */

.form-search-nav-bar {
    margin-right: 5vw;
} 

/* recherche-bar */

.search-bar {
    border: solid 2px rgba(149, 191, 178, 76.8);
    box-shadow: inset 1px 4px 4px rgb(0 0 0 / 25%);
    padding-left: 1.8rem;

}

/* loupe */

.loupe {
/* _Magnifyingglass */

    background-image: url('../images/icon/_Magnifyingglass.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0.5vw;

}


/* recherche-btn */

.btn-search {
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(149, 191, 178, 76.8);
    box-sizing: border-box;
    border-radius: 6px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 4px 16px;

}

.btn-search:hover {
    background: rgba(149, 191, 178, 76.8);
}


/* Burger-trait */

.navbar-trait {
    width: 30px;
    border: 1px solid #000000;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    background-color: #003369;
}

/* link-nav-bar and footer */

.link-nav-bar {
    color: #ffffff;
    text-decoration: none;
}

/* link-nav-bar hover */

 .link-nav-bar:hover{
     font-weight: bold;
     color: #ffffff;
     text-decoration: underline;

 }

/* content */

#content {
    background-color: #ffffff;
    background-size: cover;
    height: 100%;
    padding: 0;
    }


    /* Image d'entete */

    #background-entete {
        background: url(../images/IMG_20220425_162304.jpg);
    
        /* Set a specific height */
        min-height: 40vw;
    
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 15rem 0vw 15rem 0vw;
    }
    

/* image-entete */

#entete-text {
    position: relative;
    color: #ffffff;
}

.text-shadow   {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.26));
}

/* New */

#new {
    background: #00BFB2;
    color: #ffffff;
}

/* carousel-item */

.carousel-item {
    height: 40%;
}


/* Image bloc */

.img-choice {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 25rem;
    height: 35rem;
    background-position: center;
}

#img-console {

    background: linear-gradient(0deg, rgba(60, 60, 60, 0.8), rgba(60, 60, 60, 0.8)), url('../images/console.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 25rem;
    height: 35rem;
    background-position: center;

}

#img-console:hover {

    background: linear-gradient(0deg, rgba(60, 60, 60, 0), rgba(60, 60, 60, 0)), url('../images/console.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 25rem;
    height: 35rem;
    background-position: center;

}

#img-telephone {
    background: linear-gradient(0deg, rgba(60, 60, 60, 0.8), rgba(60, 60, 60, 0.8)), url('../images/telephone.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 25rem;
    height: 35rem;
    background-position: center;

}

#img-telephone:hover {
    background: linear-gradient(0deg, rgba(60, 60, 60, 0), rgba(60, 60, 60, 0)), url('../images/telephone.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 25rem;
    height: 35rem;
    background-position: center;

}

/* choice-bloc */

#choice {
    margin-top: 3vw;
}


/* card */

.card-group {
    display: flex;
}

.choice-card .card {
    margin: 2rem 1.2rem 2rem 0;
}

.choice-card .card {
    flex-direction: initial;
}

.choice-card .card .card-body span
    {
    background-color:rgba(0,0,0,0.8);
    }

.choice-card .card-body {
    border: 11px solid #00BFB2;
}

.choice-card .card-link {
    width: 33rem;
    margin-left: 0;
    justify-content: space-around;
    text-decoration: none;
}

.card-link:hover{
    text-decoration: underline white;
}

.choice-card .card-font {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 27px;
    color: #FFFFFF;
}

.choice-card .card-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #FFFFFF;
}

/* Footer */

#footer {
    background: #00BFB2;
    position: static;
    width: 100%;
    height: 187px;
    left: 0;
    bottom:0;
    color: #ffffff;
}

#footer ul li {
    list-style: none;
    padding-top: 25px;
}

.logo-contact {
    height: 30px;
    width: 30px;
}


/* Media query */

@media (max-width: 767.98px) { 

    .card-group {
        display:block;
    }

    .title-page {
        color: #00BFB2;
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        line-height: 3rem;
    }

    .search-bar {
        font-size: 2rem;
        font-size: 0.9rem;
    }

    .btn-search {
        font-size: 14px;
    }

 }

@media (max-width: 575.98px) { 

    .card-group {
        display:block;
        margin-left: 22px;

    }
    .title-page {
        color: #00BFB2;
        font-style: normal;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .search-bar {
        font-size: 2rem;
        font-size: 0.7rem;
    }

    .btn-search {
        font-size: 12px;
    }

}





