@font-face {
    font-family: "Playfair Display";
    src: url("./asset/font/playfair_display/static/PlayfairDisplay-Regular.ttf") format("tff");
   }

/* All selector */

* {
    margin: 0;
    padding: 0;
}

/* body */

body {
    background: #CDCDCD;
    height: 100%;
}

#background-entete {
    background: url(../images/IMG_20220425_162304.jpg);

  /* Set a specific height */
  min-height: 765px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* text-property */

/* font-size */

.text-48 {
    font-size: 48px;
}

.text-36 {
    font-size: 36px;
}

/* font */

.playfair {
    font-family: 'Playfair Display', serif;
}


/* slider */


#slider {
    background: #00BFB2;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}

/* Burger-menu */

.navbar-toggler:focus {
    background-color: white;

}


/* Burger-trait */

.navbar-trait {
    width: 30px;
    border: 1px solid #000000;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    background-color: #003369;
}

/* image-entete */

#entete-text {
    position: relative;
    top: 12rem;
}

/* content */

#content {
    background-color: #ffffff;
    background-size: cover;
    height: 100%;
    padding: 0;
    }


/* New */
 
#new {
    background: #00BFB2;
    color: #ffffff;
}



/* Image bloc */

#img-console {
    background: url("../images/console.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 25rem;
    height: 35rem;
    background-position: center;

}

#img-telephone {
    background: url("../images/telephone.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 25rem;
    height: 35rem;
    background-position: center;

}

.card-group {
    display: flex;
}

.card-group .card {
    margin: 3rem;
}

.card {
    flex-direction: initial;
}

.card .card-body span
    {
    background-color:rgba(0,0,0,0.8);
    }

.card-body {
    border: 11px solid #00BFB2;
}

.card-font {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 27px;
    color: #FFFFFF;
}

/* Footer */

#footer {
    background: #00BFB2;
    position: absolute;
    width: 100%;
    height: 187px;
    left: 0px;
    bottom:auto;
    color: #ffffff;
}

#footer ul li {
    list-style: none;
    padding-top: 25px;
}

.logo-contact {
    height: 30px;
    width: 30px;
}
