@font-face {
    font-family: "Playfair Display";
    src: url("./asset/font/playfair_display/static/PlayfairDisplay-Regular.ttf") format("tff");
    src: url('/asset/font/playfair_display/static/PlayfairDisplay-Black.ttf') format("tff");
    src: url('/asset/font/playfair_display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format("tff");
    src: url('/asset/font/playfair_display/static/PlayfairDisplay-Bold.ttf') format("tff");
    src: url('/asset/font/playfair_display/static/PlayfairDisplay-ExtraBold.ttf') format("tff");
    src: url('/asset/font/playfair_display/static/PlayfairDisplay-ExtraBoldItalic.ttf') format("tff");
    src: url('/asset/font/playfair_display/static/PlayfairDisplay-Medium.ttf') format("tff");
    src: url('/asset/font/playfair_display/static/PlayfairDisplay-SemiBold.ttf') format("tff");
    src: url('/asset/font/playfair_display/static/PlayfairDisplay-BoldItalic.ttf') format("tff");
    src: url('/asset/font/playfair_display/static/PlayfairDisplay-Italic.ttf') format("tff");   
   }

/* All selector */

* {
    margin: 0;
    padding: 0;
}

/* body */

body {
    background: #CDCDCD;
    height: 100%;
}

#background-entete {
    background: url(../images/IMG_20220425_162304.jpg);

  /* Set a specific height */
  min-height: 765px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* text-property */

/* font-size */

.text-48 {
    font-size: 48px;
}

.text-36 {
    font-size: 36px;
}

/* font */

.playfair {
    font-family: 'Playfair Display', serif;
}


/* slider */


#slider {
    background: #00BFB2;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}

/* Burger-menu */

.navbar-toggler:focus {
    background-color: white;

}

/* recherche-btn */

.btn-search {
    background: rgba(0, 191, 178, 0.8);
    border: 2px solid #5A594E;
    box-sizing: border-box;
    border-radius: 6px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-search:hover {
    background: #5A594E;
}


/* Burger-trait */

.navbar-trait {
    width: 30px;
    border: 1px solid #000000;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    background-color: #003369;
}

/* image-entete */

#entete-text {
    position: relative;
    top: 25rem;
    color: #ffffff;
}

.text-shadow   {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.26));
}

/* content */

#content {
    background-color: #ffffff;
    background-size: cover;
    height: 100%;
    padding: 0;
    }


/* New */
 
#new {
    background: #00BFB2;
    color: #ffffff;
}

/* carousel-item */

.carousel-item {
    height: 40%;
}


/* Image bloc */

.img-choice {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 25rem;
    height: 35rem;
    background-position: center;
}

#img-console {
    background: url("../images/console.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 25rem;
    height: 35rem;
    background-position: center;

}

#img-telephone {
    background: url("../images/telephone.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 25rem;
    height: 35rem;
    background-position: center;

}

/* choice-bloc */

#choice {
    margin-top: 3vw;
}


/* card */

.card-group {
    display: flex;
}

.choice-card .card {
    margin: 2rem 0 2rem 0;
}

.choice-card .card {
    flex-direction: initial;
}

.choice-card .card .card-body span
    {
    background-color:rgba(0,0,0,0.8);
    }

.choice-card .card-body {
    border: 11px solid #00BFB2;
}

.choice-card .card-link {
    width: 35rem;
}

.choice-card .card-font {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 27px;
    color: #FFFFFF;
}

.choice-card .card-title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #FFFFFF;
}

/* Footer */

#footer {
    background: #00BFB2;
    position: absolute;
    width: 100%;
    height: 187px;
    left: 0px;
    bottom:auto;
    color: #ffffff;
}

#footer ul li {
    list-style: none;
    padding-top: 25px;
}

.logo-contact {
    height: 30px;
    width: 30px;
}


/* Media query */

@media (max-width: 575.98px) { 

    .card-group {
        display:block;
    }

 }


